<h2>Travel Wishlist</h2>
<!-- %'place_list'% url reversing -->
<form method="POST" action="% url 'place_list' %">
    {% csrf_token %}
    {{ new_place_form}}
    <button type = "submit">Add</button>
</form>

{% for place in places %}

<div>
    {{ place.name }}

<!-- url reversing -->
    <form method="POST" action="{% url 'place_was_visited' place.pk %}">
        {% csrf_token %}
        <button>Visited!</button>
    <!-- to make a browser generate request to a server we need to make a form element -->
    </form>
    
</div>

{% empty %}

<p> You have no places in your wishlist</p>

{%endfor%}

<a href = "{% url 'places_visited' %}">Places you have visited</a>